<footer class="block shadow-lg text-white bg-gray-600">
    <div id="footer_menu" class="grid gap-20 grid-cols-2 justify-items-center p-12">
        <div class="text-center">
            <h3 class="mb-4">FOLLOW ME</h3>
            <ul class="grid gap-10 grid-cols-2 justify-items-center">
                <li>
                    <a href="{{ linkedin }}" target="_blank">
                        <div
                            class="btn btn-md btn-square bg-gray-400 transition duration-200 ease-in-out p-2 hover:text-pink-400 hover:bg-blue-600">
                            <i class="fa-brands fa-linkedin fa-xl"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ github }}" target="_blank">
                        <div
                            class="btn btn-md btn-square bg-gray-400 transition duration-200 ease-in-out p-2 hover:text-pink-400 hover:bg-blue-600">
                            <i class="fa-brands fa-github fa-xl"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block items-center justify-items-center text-center">
            <h3 class="mb-4">CONTACT ME</h3>
            <img src="/static/images/mail.png" alt="mail" width="400px">
        </div>
        <div class="block items-center justify-items-center text-center">
            <h3 class="mb-4">VISITORS</h3>
            <img src="https://visitor-badge.glitch.me/badge?page_id=efrenzaidinvergeles.github.io&right_color=pink" width="100px">
        </div>
    </div>
    <div class="flex flex-col p-4 items-center">
        <p class="mb-4">© {{ author }} 2021</p>
        <p class="w-auto text-gray-100">Built With 11ty, TailWindCSS, AlpineJs, GraphJS & ElGrapho
        </p>
    </div>
</footer>