<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="This is Efrens Garcia portfolio webpage, where you can get all professional info about me and a blog">
    <meta name="theme-color" content="#c084fc" />
    <!-- CSS Files -->
    <link href="/static/styles/styles.css" type="text/css" rel="stylesheet">
    <link href="/static/styles/all.min.css" type="text/css" rel="stylesheet">
    <!-- Favicon Settings -->
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="static-color" content="#ffffff">
    <!-- JS Files -->
    <script src="/static/js/alpinecdn.js?v={% version %}" defer></script>
    <script src="https://www.gstatic.com/charts/loader.js" defer></script>
    <script src="/static/js/ElGrapho.min.js" defer></script>
    
    <title>{{ title }}</title>
</head>
