<div class="hero h-screen w-full from-primary to-secondary bg-gradient-to-br">
    <!-- Add Bokeh Animation -->
    <!-- <div class="w-72 h-72 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div>
    <div class="w-72 h-72 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div>
    <div class="w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div> -->

    <div
        class="hero-content lg:max-w-full lg:mx-24 justify-items-center grid grid-cols-1 lg:grid-cols-2 glass shadow-2xl">
        <img src="/static/images/masterserver.png" alt="Masterserver" class="w-max rounded-lg shadow-2xl">
        <div class="text-center">
            <h1 class="mb-12">Efren Garcia</h1>
            <p class="mb-6">Providing what <strong>real-world</strong> companies need in <strong>Systems &
                    Security</strong></p>
            <a href="#footer">
                <button class="btn btn-secondary">Contact</button>
            </a>
        </div>
    </div>
    <svg class="fill-secondary h-full w-full" width="1600" height="110" viewbox="0 0 1600 110" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M0 338L53.3 349.2C106.7 360.3 213.3 382.7 320 393.8C426.7 405 533.3 405 640 359.3C746.7 313.7 853.3 222.3 960 189.2C1066.7 156 1173.3 181 1280 159.2C1386.7 137.3 1493.3 68.7 1546.7 34.3L1600 0V595H1546.7C1493.3 595 1386.7 595 1280 595C1173.3 595 1066.7 595 960 595C853.3 595 746.7 595 640 595C533.3 595 426.7 595 320 595C213.3 595 106.7 595 53.3 595H0V338Z">
        </path>
    </svg>
</div>