<nav class="navbar bg-base-100 p-0 border-b-2 border-black">
    <div class="flex-1" x-data="categories">
        <a href="/" class="py-4 px-12 border-transparent">
            <img src="/static/images/MasterServerTransparent.png" alt="Logo" class="object-fill h-8">
        </a>
        <template x-for="category in categories">
            <a x-bind:href="category.link"
                class="hidden lg:block transition duration-200 ease-in-out py-4 px-12 border-b-4 border-transparent hover:text-secondary hover:border-primary"
                x-text="category.name"></a>
        </template>
    </div>
    <div class="flex-none mr-2 lg:hidden">
        <label for="my-drawer" class="btn btn-square drawer-button bg-gray-400 swap swap-rotate">
            <input type="checkbox" />
            <i class="fa fa-2x fa-bars swap-off"></i>
            <i class="fa fa-2x fa-xmark swap-on"></i>
        </label>
    </div>
</nav>